/* Imagen de la Asociación */
#associationImage {
    border-radius: 10px;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

/* Caja de Chat */
.chat-box {
    margin-top: 20px;
}

.chat-messages {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}

.chat-message {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e9ecef;
}
